## Train Test Split

In [38]:
# Import necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split

In [39]:
# Load the dataset
df = pd.read_csv('500hits.csv', encoding = 'latin-1')

In [40]:
df.head()

,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA,HOF
0,Ty Cobb,24,3035,11434,2246,4189,724,295,117,726,1249,357,892,178,0.366,1
1,Stan Musial,22,3026,10972,1949,3630,725,177,475,1951,1599,696,78,31,0.331,1
2,Tris Speaker,22,2789,10195,1882,3514,792,222,117,724,1381,220,432,129,0.345,1
3,Derek Jeter,20,2747,11195,1923,3465,544,66,260,1311,1082,1840,358,97,0.310,1
4,Honus Wagner,21,2792,10430,1736,3430,640,252,101,0,963,327,722,15,0.329,1

In [41]:
#Split the dataset into X (features) and y (target variable)

X = df.drop(columns = ['PLAYER','HOF'])

y = df['HOF']

In [42]:
X.head()

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
0,24,3035,11434,2246,4189,724,295,117,726,1249,357,892,178,0.366
1,22,3026,10972,1949,3630,725,177,475,1951,1599,696,78,31,0.331
2,22,2789,10195,1882,3514,792,222,117,724,1381,220,432,129,0.345
3,20,2747,11195,1923,3465,544,66,260,1311,1082,1840,358,97,0.310
4,21,2792,10430,1736,3430,640,252,101,0,963,327,722,15,0.329

In [43]:
X.shape

(465, 14)

In [44]:
y.tail()

460    0
461    0
462    0
463    0
464    0
Name: HOF, dtype: int64

In [45]:
y.shape

(465,)

In [46]:
# Train 80% and test 20% of the model
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42, test_size = 0.2)

In [47]:
X_train.shape

(372, 14)

In [48]:
X_test.shape

(93, 14)

In [49]:
X_train.head()

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
46,17,2379,9073,1508,2724,504,80,210,1134,1032,1140,474,114,0.300
460,15,1920,6653,1105,1665,285,39,291,964,1224,1427,225,101,0.250
117,22,2435,8147,1283,2086,290,24,573,1584,1559,1699,19,18,0.256
154,20,2586,9768,1582,2725,565,78,435,1587,1084,1795,312,49,0.279
253,19,2084,7218,940,2091,484,66,191,1097,648,779,109,78,0.290

In [50]:
X_train.describe().round(3)

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
count,372.000,372.000,372.000,372.000,372.000,372.000,372.000,372.000,372.000,372.000,372.000,372.000,372.000,372.000
mean,17.011,2048.527,7514.347,1147.586,2168.067,381.255,77.855,197.887,877.159,780.892,834.672,195.032,56.645,0.288
std,2.836,359.609,1293.124,291.287,414.856,95.679,47.958,144.515,493.052,327.975,486.213,180.103,46.660,0.021
min,11.000,1331.000,5472.000,601.000,1660.000,177.000,8.000,14.000,0.000,239.000,0.000,8.000,0.000,0.246
25%,15.000,1798.750,6531.500,933.250,1841.000,313.000,40.000,75.000,613.250,527.000,431.750,59.750,21.750,0.273
50%,17.000,1988.000,7221.000,1099.000,2076.500,366.000,66.500,170.000,963.000,725.000,787.000,140.500,51.000,0.287
75%,19.000,2257.500,8184.250,1299.250,2354.500,436.250,108.000,291.000,1207.250,952.750,1197.250,285.000,84.000,0.299
max,26.000,3308.000,12364.000,2295.000,3771.000,792.000,252.000,755.000,2297.000,2190.000,2597.000,1406.000,335.000,0.358

In [51]:
X_test.describe().round(3)

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
count,93.000,93.000,93.000,93.000,93.000,93.000,93.000,93.000,93.000,93.000,93.000,93.000,93.000,93.000
mean,17.204,2049.387,7499.892,1161.226,2178.968,379.742,81.355,213.699,962.667,794.237,898.667,199.398,63.839,0.290
std,2.470,334.569,1304.786,284.219,461.932,100.160,54.815,140.045,453.825,326.800,500.474,189.619,53.028,0.023
min,11.000,1332.000,4981.000,667.000,1666.000,186.000,3.000,9.000,0.000,311.000,15.000,7.000,0.000,0.249
25%,16.000,1823.000,6503.000,961.000,1804.000,308.000,45.000,97.000,779.000,553.000,478.000,83.000,27.000,0.273
50%,17.000,2002.000,7297.000,1117.000,2055.000,371.000,71.000,206.000,976.000,760.000,852.000,128.000,58.000,0.287
75%,19.000,2215.000,8136.000,1284.000,2416.000,436.000,97.000,299.000,1183.000,965.000,1278.000,251.000,90.000,0.303
max,24.000,3035.000,11434.000,2246.000,4189.000,724.000,309.000,548.000,1922.000,2019.000,1916.000,938.000,307.000,0.366

In [52]:
y_train.describe().round(3)

count    372.000
mean       0.328
std        0.476
min        0.000
25%        0.000
50%        0.000
75%        1.000
max        2.000
Name: HOF, dtype: float64

In [53]:
y_test.describe().round(3)

count    93.000
mean      0.333
std       0.474
min       0.000
25%       0.000
50%       0.000
75%       1.000
max       1.000
Name: HOF, dtype: float64

We can now compare the actual data (X_train and y_train) with the test results (y_train and y_test)

## Scaling in Scikit Learn 
Helps in improving the model

### Normalization vs Standardization
Normalization allows you to have numbers from 0 to 1
Formula = X - Min(X) / (Max(X) - Min(X))

Standardization normally has a mean of 0 and standard deviation of 1 just like in normal distribution
Formula = X - Mean(X) / Standard deviation

Standardization can have both negatives and positives. Preferred when you have outliers in your data.

In [54]:
df2 = pd.read_csv('500hits.csv', encoding = 'latin-1')
df2 = df2.drop(columns = ['PLAYER','CS'])
df2.head()

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,BA,HOF
0,24,3035,11434,2246,4189,724,295,117,726,1249,357,892,0.366,1
1,22,3026,10972,1949,3630,725,177,475,1951,1599,696,78,0.331,1
2,22,2789,10195,1882,3514,792,222,117,724,1381,220,432,0.345,1
3,20,2747,11195,1923,3465,544,66,260,1311,1082,1840,358,0.310,1
4,21,2792,10430,1736,3430,640,252,101,0,963,327,722,0.329,1

In [55]:
df2.describe().round(2)

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,BA,HOF
count,465.00,465.00,465.00,465.00,465.00,465.00,465.00,465.00,465.00,465.00,465.00,465.00,465.00,465.00
mean,17.05,2048.70,7511.46,1150.31,2170.25,380.95,78.55,201.05,894.26,783.56,847.47,195.91,0.29,0.33
std,2.77,354.39,1294.07,289.64,424.19,96.48,49.36,143.62,486.19,327.43,489.22,181.85,0.02,0.47
min,11.00,1331.00,4981.00,601.00,1660.00,177.00,3.00,9.00,0.00,239.00,0.00,7.00,0.25,0.00
25%,15.00,1802.00,6523.00,936.00,1838.00,312.00,41.00,79.00,640.00,535.00,436.00,63.00,0.27,0.00
50%,17.00,1993.00,7241.00,1104.00,2076.00,366.00,67.00,178.00,968.00,736.00,825.00,137.00,0.29,0.00
75%,19.00,2247.00,8180.00,1296.00,2375.00,436.00,107.00,292.00,1206.00,955.00,1226.00,285.00,0.30,1.00
max,26.00,3308.00,12364.00,2295.00,4189.00,792.00,309.00,755.00,2297.00,2190.00,2597.00,1406.00,0.37,2.00

### Standardization

In [ ]:
#Standard scaling
X1 = df2.iloc[:, 0:13]

In [57]:
from sklearn.preprocessing import StandardScaler

scaler1 = StandardScaler()

X1 = scaler1.fit_transform(X1)

X1 = pd.DataFrame(X1, columns = df2.columns[0:13])
X1.head()

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,BA
0,2.516295,2.786078,3.034442,3.787062,4.764193,3.559333,4.389485,-0.585841,-0.346449,1.423013,-1.003628,3.832067,3.648290
1,1.792237,2.760655,2.677044,2.760530,3.444971,3.569709,1.996457,1.909487,2.175837,2.493089,-0.309948,-0.649080,1.996159
2,1.792237,2.091184,2.075964,2.528955,3.171214,4.264876,2.909053,-0.585841,-0.350567,1.826585,-1.283965,1.299723,2.657012
3,1.068180,1.972543,2.849554,2.670665,3.055576,1.691719,-0.254611,0.410896,0.858071,0.912434,2.030966,0.892346,1.004881
4,1.430208,2.099658,2.257758,2.024329,2.972977,2.687780,3.517449,-0.697364,-1.841290,0.548609,-1.065016,2.896201,1.901752

In [58]:
X1.describe().round(2)

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,BA
count,465.00,465.00,465.00,465.00,465.00,465.00,465.00,465.00,465.00,465.00,465.00,465.00,465.00
mean,-0.00,0.00,0.00,0.00,0.00,0.00,-0.00,-0.00,0.00,0.00,-0.00,0.00,0.00
std,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00
min,-2.19,-2.03,-1.96,-1.90,-1.20,-2.12,-1.53,-1.34,-1.84,-1.66,-1.73,-1.04,-2.02
25%,-0.74,-0.70,-0.76,-0.74,-0.78,-0.72,-0.76,-0.85,-0.52,-0.76,-0.84,-0.73,-0.74
50%,-0.02,-0.16,-0.21,-0.16,-0.22,-0.16,-0.23,-0.16,0.15,-0.15,-0.05,-0.32,-0.08
75%,0.71,0.56,0.52,0.50,0.48,0.57,0.58,0.63,0.64,0.52,0.77,0.49,0.53
max,3.24,3.56,3.75,3.96,4.76,4.26,4.67,3.86,2.89,4.30,3.58,6.66,3.65

### Normalization

In [68]:
# Min-Max scaling
X2 = df2.iloc[:, 0:13]

In [69]:
from sklearn.preprocessing import MinMaxScaler

scaler2 = MinMaxScaler(feature_range=(0, 1))

X2 = scaler2.fit_transform(X2)

X2 = pd.DataFrame(X2, columns = df2.columns[0:13])

X2.head()

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,BA
0,0.866667,0.861912,0.874035,0.971074,1.000000,0.889431,0.954248,0.144772,0.316064,0.517683,0.137466,0.632595,1.000000
1,0.733333,0.857360,0.811459,0.795750,0.778964,0.891057,0.568627,0.624665,0.849369,0.697078,0.268002,0.050751,0.708333
2,0.733333,0.737481,0.706217,0.756198,0.733096,1.000000,0.715686,0.144772,0.315194,0.585341,0.084713,0.303788,0.825000
3,0.600000,0.716237,0.841663,0.780401,0.713721,0.596748,0.205882,0.336461,0.570744,0.432086,0.708510,0.250893,0.533333
4,0.666667,0.738998,0.738047,0.670012,0.699881,0.752846,0.813725,0.123324,0.000000,0.371092,0.125915,0.511079,0.691667

In [70]:
X2.describe().round(2)

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,BA
count,465.00,465.00,465.00,465.00,465.00,465.00,465.00,465.00,465.00,465.00,465.00,465.00,465.00
mean,0.40,0.36,0.34,0.32,0.20,0.33,0.25,0.26,0.39,0.28,0.33,0.14,0.36
std,0.18,0.18,0.18,0.17,0.17,0.16,0.16,0.19,0.21,0.17,0.19,0.13,0.18
min,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,0.27,0.24,0.21,0.20,0.07,0.22,0.12,0.09,0.28,0.15,0.17,0.04,0.23
50%,0.40,0.33,0.31,0.30,0.16,0.31,0.21,0.23,0.42,0.25,0.32,0.09,0.34
75%,0.53,0.46,0.43,0.41,0.28,0.42,0.34,0.38,0.53,0.37,0.47,0.20,0.45
max,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00