## Train Test Split

In [ ]:
# Import necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split

In [ ]:
# Load the dataset
df = pd.read_csv('500hits.csv', encoding = 'latin-1')

In [5]:
df.head()

,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA,HOF
0,Ty Cobb,24,3035,11434,2246,4189,724,295,117,726,1249,357,892,178,0.366,1
1,Stan Musial,22,3026,10972,1949,3630,725,177,475,1951,1599,696,78,31,0.331,1
2,Tris Speaker,22,2789,10195,1882,3514,792,222,117,724,1381,220,432,129,0.345,1
3,Derek Jeter,20,2747,11195,1923,3465,544,66,260,1311,1082,1840,358,97,0.310,1
4,Honus Wagner,21,2792,10430,1736,3430,640,252,101,0,963,327,722,15,0.329,1

In [8]:
#Split the dataset into X (features) and y (target variable)

X = df.drop(columns = ['PLAYER','HOF'])

y = df['HOF']

In [9]:
X.head()

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
0,24,3035,11434,2246,4189,724,295,117,726,1249,357,892,178,0.366
1,22,3026,10972,1949,3630,725,177,475,1951,1599,696,78,31,0.331
2,22,2789,10195,1882,3514,792,222,117,724,1381,220,432,129,0.345
3,20,2747,11195,1923,3465,544,66,260,1311,1082,1840,358,97,0.310
4,21,2792,10430,1736,3430,640,252,101,0,963,327,722,15,0.329

In [11]:
X.shape

(465, 14)

In [12]:
y.tail()

460    0
461    0
462    0
463    0
464    0
Name: HOF, dtype: int64

In [13]:
y.shape

(465,)

In [ ]:
# Train 80% and test 20% of the model
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42, test_size = 0.2)

In [16]:
X_train.shape

(372, 14)

In [17]:
X_test.shape

(93, 14)

In [19]:
X_train.head()

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
46,17,2379,9073,1508,2724,504,80,210,1134,1032,1140,474,114,0.300
460,15,1920,6653,1105,1665,285,39,291,964,1224,1427,225,101,0.250
117,22,2435,8147,1283,2086,290,24,573,1584,1559,1699,19,18,0.256
154,20,2586,9768,1582,2725,565,78,435,1587,1084,1795,312,49,0.279
253,19,2084,7218,940,2091,484,66,191,1097,648,779,109,78,0.290

In [25]:
X_train.describe().round(3)

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
count,372.000,372.000,372.000,372.000,372.000,372.000,372.000,372.000,372.000,372.000,372.000,372.000,372.000,372.000
mean,17.011,2048.527,7514.347,1147.586,2168.067,381.255,77.855,197.887,877.159,780.892,834.672,195.032,56.645,0.288
std,2.836,359.609,1293.124,291.287,414.856,95.679,47.958,144.515,493.052,327.975,486.213,180.103,46.660,0.021
min,11.000,1331.000,5472.000,601.000,1660.000,177.000,8.000,14.000,0.000,239.000,0.000,8.000,0.000,0.246
25%,15.000,1798.750,6531.500,933.250,1841.000,313.000,40.000,75.000,613.250,527.000,431.750,59.750,21.750,0.273
50%,17.000,1988.000,7221.000,1099.000,2076.500,366.000,66.500,170.000,963.000,725.000,787.000,140.500,51.000,0.287
75%,19.000,2257.500,8184.250,1299.250,2354.500,436.250,108.000,291.000,1207.250,952.750,1197.250,285.000,84.000,0.299
max,26.000,3308.000,12364.000,2295.000,3771.000,792.000,252.000,755.000,2297.000,2190.000,2597.000,1406.000,335.000,0.358

In [26]:
X_test.describe().round(3)

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
count,93.000,93.000,93.000,93.000,93.000,93.000,93.000,93.000,93.000,93.000,93.000,93.000,93.000,93.000
mean,17.204,2049.387,7499.892,1161.226,2178.968,379.742,81.355,213.699,962.667,794.237,898.667,199.398,63.839,0.290
std,2.470,334.569,1304.786,284.219,461.932,100.160,54.815,140.045,453.825,326.800,500.474,189.619,53.028,0.023
min,11.000,1332.000,4981.000,667.000,1666.000,186.000,3.000,9.000,0.000,311.000,15.000,7.000,0.000,0.249
25%,16.000,1823.000,6503.000,961.000,1804.000,308.000,45.000,97.000,779.000,553.000,478.000,83.000,27.000,0.273
50%,17.000,2002.000,7297.000,1117.000,2055.000,371.000,71.000,206.000,976.000,760.000,852.000,128.000,58.000,0.287
75%,19.000,2215.000,8136.000,1284.000,2416.000,436.000,97.000,299.000,1183.000,965.000,1278.000,251.000,90.000,0.303
max,24.000,3035.000,11434.000,2246.000,4189.000,724.000,309.000,548.000,1922.000,2019.000,1916.000,938.000,307.000,0.366

In [24]:
y_train.describe().round(3)

count    372.000
mean       0.328
std        0.476
min        0.000
25%        0.000
50%        0.000
75%        1.000
max        2.000
Name: HOF, dtype: float64

In [27]:
y_test.describe().round(3)

count    93.000
mean      0.333
std       0.474
min       0.000
25%       0.000
50%       0.000
75%       1.000
max       1.000
Name: HOF, dtype: float64

We can now compare the actual data (X_train and y_train) with the test results (y_train and y_test)